﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject BookingCart bookingcart

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                @if (bookingcart.GetBookingCartItems().Count != 0)
                {
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="font-weight:bold;margin-top:22.5px"
                            onclick="return confirm ('You have items in your cart.\nOnce you logout it will be lost\nYou sure you want to log out?');">
                        LOGOUT
                    </button>
                }
                else
                {
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="font-weight:bold;margin-top:22.5px">LOGOUT</button>
                }
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="BookingCart" asp-action="ShowPrevOrders">Previous Orders</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>