@model BookingRoomDetails

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Book this Room
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Book Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="BookingCart" asp-action="AddToBookingCart" method="post" style="border:none;">
                <div class="modal-body">
                    <div class="form-control">
                        <label class="control-label" asp-for="RoomId">Room ID</label>
                        <input class="form-control" type="number" asp-for="RoomId" />
                    </div>
                    <div class="form-control">
                        <label class="control-label" asp-for="CheckInDate">Check In Date</label>
                        <input class="form-control" type="datetime" asp-for="CheckInDate" />
                    </div>
                    <div class="form-control">
                        <label class="control-label" asp-for="CheckOutDate">Check Out Date</label>
                        <input class="form-control" type="datetime" asp-for="CheckOutDate" />
                    </div>
                    <div class="form-control">
                        <label class="control-label" asp-for="AdultNo">Adult Number</label>
                        <input class="form-control" type="number" asp-for="AdultNo" />
                    </div>
                    <div class="form-control">
                        <label class="control-label" asp-for="ChildrenNo">Children Number</label>
                        <input class="form-control" type="number" asp-for="ChildrenNo" />
                    </div>
                    <div class="form-control">
                        <label class="control-label" asp-for="RoomQuantity">Room Quantity</label>
                        <input class="form-control" type="number" asp-for="RoomQuantity" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add to Cart" />
                </div>
            </form>
            
        </div>
    </div>
</div>