@model IEnumerable<ParkView_Capstone.Models.Servicess.Services>
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    input {
        outline: none;
        border: none;
        width: 100%;
    }

    .book {
        padding: 40px 0;
        background: #282834;
        color: #fff;
    }

    h1 {
        font-family: serif;
    }

    .book h1 {
        font-size: 28px;
    }

        .book h1 span {
            color: #7fc142;
        }

    .book input {
        padding: 20px;
    }

        .book input:nth-last-child(1) {
            background: #7fc142;
            color: #fff;
        }

    .textcon {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<div class="textcon">
    <img style="width:100%;height:300px;" src="/images/banner-1.png"></img>
    <div class="centered"><h1 style="color:white">Services</h1></div>
</div>
@{
    DateOnly today = new DateOnly(DateTime.Now.Date.Year, DateTime.Now.Date.Month, DateTime.Now.Date.Day);
    DateOnly tmrw = today.AddDays(1);
}
<section class="book">
    <div class="container flex_space">
        <div class="text">
            <h1> <span>Book</span> Your Rooms </h1>
        </div>
        <br />
        <div class="form">
            <form class="grid" asp-controller="Room" asp-action="Index" method="post">
                <select style="border-radius: 10px;" name="location" id="location">
                    <option value="" disabled selected hidden>Location</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Bengaluru">Bangalore</option>
                    <option value="Chennai">Chennai</option>

                </select>
                <input style="border-radius: 10px;" type="date" class="form-control" id="checkin123" name="checkin" placeholder="Araival Date" value="$(this).ToString('yyyy-MM-dd')" min=@today.ToString("yyyy-MM-dd") required>
                <input style="border-radius: 10px;" type="date" name="checkout" id="checkout123" placeholder="Departure Date" value="$(this).ToString('yyyy-MM-dd')" min=@tmrw.ToString("yyyy-MM-dd") required>
                <input style="border-radius: 10px;" type="number" name="Adults" placeholder="Adults" required min=1>
                <input style="border-radius: 10px;" type="number" name="Child" placeholder="Childern" min=0>
                <input style="border-radius: 10px;background-color:#7FC142;color:white;font-weight:bold;" type="submit" value="CHECK AVAILABILITY">
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var $checkinInput = $('#checkin123');
            var $checkoutInput = $('#checkout123');
            $checkinInput.on('input', function () {
                var checkinDate = $checkinInput.val();
                $checkoutInput.attr('min', checkinDate);
            });
        });
    </script>
    }



<br />
<br />



<h4 style="text-align:center;color:green;font-weight:bold">LIST</h4>

<div style="margin:10px;" class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {

        <div class="col">
            <div  style="width:90%"class="card h-100">
                <img style="height: 240px;" src=@item.ServiceImage alt="">
                <div class="card-body">
                    <h2 class="card-title">@item.ServiceName</h2>
                    <h5>Price : @item.ServicePrice</h5>
                    <br>
                    <hr>
                    <h5>Description</h5>
                    <p class="card-text">@item.ServiceDescription</p>

                </div>
            </div>
        </div>
    }

</div>
<br />
<br />