
<section style="background-color:#282834;height:5vh;"></section>
<br/><br/>
<div class="container p-10 m-10" style="height:20vh;">
    <h1 style="font-weight:bold;">Succesfully Completed the Payment and Room Booking Successful</h1>
    <a asp-controller="Home" asp-action="Index" type="button" class="btn" style="background-color:#25a18e;color:white;float:right;font-weight:bold;font-size:large;">Go To Home</a>
</div>